Python https://docs.python-guide.org/starting/install3/win/ (DONE)
Chocolatey https://chocolatey.org/install (DONE)
pipenv https://docs.python-guide.org/dev/virtualenvs/#virtualenvironments-ref (DONE)
Heroku https://devcenter.heroku.com/articles/getting-started-with-python (downloading/doing tutorial)
Flask/Memchache https://devcenter.heroku.com/articles/flask-memcache
