{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <!-- Uses bootstrap and static CSS classes -->
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Create</h1>
        <p class="lead">A place to get creative</p>
        <hr class="my-4">
        <ul>
            <li>
                <a href="/create_feat">Feats</a>
            </li>
            <li>
                <a href="/create_equipment">Equipment</a>
            </li>
            <li>
                <a href="/create_spells">Spells</a>
            </li>
        </ul>
    </div>
{% endblock %}
