{% extends 'base.html' %}
{% load static %}

{% block title %}
    Feats
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid post">
        <h1>Create a Feat</h1>
        {% if registered %}
            <p class="my-4"><strong>Feat added!</strong></p>
        {% else %}
        <strong>Feats are used by races, classes and adventurer's to give them special abilities.</strong><br>

        <form id="user_form" method="post" action="/register" enctype="multipart/form-data">
            <label for="featName">Name</label>
            <input name="featName" type="text" class="form-control" id="featName" placeholder="Feat Name" value="" size="50">
            <label for="featDescription">Description</label>
            <input name="featDescription" type="text" class="form-control" id="email" placeholder="Feat Description" value="" size="50">
            {% csrf_token %}
            <br><br>
            <!-- Provide a button to click to submit the form. -->
            <button name="submit" type="submit" class="btn btn-primary">Create Feat</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
