{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid post">
        <h1>Login to DMM</h1>

        <form id="login_form" method="post" action="/login">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username" placeholder="Username" value="" size="50">
                <label for="password">Password</label>
                <input name="password" type="text" class="form-control" id="password" placeholder="Password" value="" size="50">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
