{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid post">
        <h1>Register for DMM</h1>
        {% if registered %}
            <strong>You have successfully registered!</strong>
        <a href="/index">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/register"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
{% endblock %}
