{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid post">
        <h1>Register for DMM</h1>
        {% if registered %}
            <p class="my-4"><strong>You have successfully registered!</strong></p>
        {% else %}
        <strong>Register here!</strong><br>

        <form id="user_form" method="post" action="/register" enctype="multipart/form-data">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Username" value="" size="50">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password" value="" size="50">
            <label for="email">Email</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email" value="" size="50">
            {% csrf_token %}
            <label for="picture">Picture</label><br>
            {{ profile_form.picture }}
            <br><br>
            <!-- Provide a button to click to submit the form. -->
            <button name="submit" type="submit" class="btn btn-primary">Register</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
