{% extends 'base.html' %}
{% load static %}

{% block title %}
    Spells
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid post">
        <h1>Spells:</h1>
    <p>(Create spells <a href="/create_spells">here</a>)</p>
        <table class="table">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Level</th>
                <th scope="col">Casting Time</th>
                <th scope="col">Range</th>
                <th scope="col">Components</th>
                <th scope="col">Duration</th>
                <th scope="col">Modify</th>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <form id="feat_form" method="post" action="/spells" enctype="multipart/form-data">
                    {% csrf_token %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.spellDescription }}</td>
                        <td>{{ item.spellLevel }}</td>
                        <td>{{ item.spellCastTime }}</td>
                        <td>{{ item.spellRange }}</td>
                        <td>{{ item.spellComponents }}</td>
                        <td>{{ item.spellDuration }}</td>
                        <td><button name="delete" type="submit" class="btn btn-primary" value="{{ item.id }}">Delete</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
