{% extends 'base.html' %}
{% load static %}

{% block title %}
    View
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}

{% block body %}
    <!-- Uses bootstrap and static CSS classes -->
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">View</h1>
        <p class="lead">A place to view your creations.</p>
        <hr class="my-4">
        <ul>
            <li>
                <a href="/feats">Feats</a>
            </li>
            <li>
                <a href="/equipment">Equipment</a>
            </li>
            <li>
                <a href="/spells">Spells</a>
            </li>
            <li>
                <a href="/races">Races</a>
            </li>
            <li>
                <a href="/classes">Classes</a>
            </li>
            <li>
                <a href="/characters">Characters</a>
            </li>
        </ul>
    </div>
{% endblock %}
